/* ========= In nav bar | Start========= */
/* ========= In nav bar | End ========= */
/* ====== WEBSITE THEME COLORs | Start ====== */
/* ====== WEBSITE THEME COLORs  | End */
/* ====== INDIVISUAL STYLING | Start ======= */
.pink_color {
  color: #e1918a; }

h1 {
  font-size: 3em; }

.description_p {
  font-size: 18px;
  margin-top: -26px;
  color: white; }

/* ====== INDIVISUAL STYLING | End ======= */
img {
  width: 100%;
  height: 100%; }

p {
  color: #666666; }

h3 {
  font-family: Poppins; }

.fab {
  color: #666666;
  padding-right: 10px; }

/* ============ Nav Bar position | Start ============*/
#logo {
  width: 12%;
  height: 100%;
  float: left;
  margin-left: 20%; }

ul {
  color: #666666; }
  ul li {
    float: left;
    list-style: none;
    padding-right: 20px; }

a {
  text-decoration: none;
  color: inherit; }

#home_navbar {
  width: 100%;
  height: 4em;
  background-color: white;
  text-align: center;
  margin-top: -10px; }

#home_nav_prop {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  position: inherit;
  margin: 0px 35%;
  padding: 1px; }

/* ============ Nav Bar position | End ============*/
/*===========  Search bar positioning | Start  ============ */
#searchBar {
  border: 1px solid #666666;
  height: 22.5px;
  background-color: white; }

.fa-search {
  color: #e1918a;
  padding: 1px 0px; }

.search_position {
  margin-top: 5px;
  margin-right: 14%; }

/*===========  Search bar positioning | End  ============ */
/* ============ Who we are grid | Start ========== */
#grid_sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 150px;
  padding: 20px; }

.grid_item {
  margin: 20px; }

#nested_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  margin: 20px; }

.nested_grid_item {
  width: 260px;
  height: 200px; }

/* ============ Who we are grid | End ========== */
/* ========== What is learn't section | Start ========== */
#learn_to {
  background-color: black;
  width: 100%; }

#learn_to_align {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 330px;
  text-align: center;
  color: white;
  margin-left: 140px;
  margin-right: 140px; }

.learn_to_fas {
  font-size: 3em;
  color: #e1918a; }

/* Used grid instead of flex for better handling */
.flex_item {
  padding: 0px 50px;
  margin-top: 30px; }

/* ========== What is learn't section | End ========== */
/* ========== Info section Course previews and Team members | Start ========== */
#info_sec {
  margin: 20px 150px;
  padding: 20px; }

/* ========== Info section Course previews and Team members | End ========== */
/* ========== Courses Grid Section Also Nested| Start =========== */
#course_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 420px;
  width: 100%;
  margin-top: 80px; }

#course_nested {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; }

.course_nested_item {
  background-color: gray;
  height: 200px;
  width: 100%; }

.course_grid_item2 {
  background-color: gray; }

/* ========== Courses Grid Section Also Nested| End =========== */
/* ========== Meet the team Grid | Start ========== */
#team_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  height: 740px; }

#team_nest1,
#team_nest2,
#team_nest3,
#team_nest4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  height: 370px; }

.team_nest1_item1,
.team_nest2_item1,
.team_nest3_item1,
.team_nest4_item1 {
  width: 100%;
  height: 370px;
  background-color: gray; }

/* ========== Meet the team Grid | Start ========== */
/* ============== Social font styling | Start ============== */
.team_nest1_item2,
.team_nest2_item2,
.team_nest3_item2,
.team_nest4_item2 {
  margin: 10px;
  margin-top: -10px; }

#social_icons {
  display: block; }

/* ============== Social font styling | End ============== */
/* ========== Meet the team Grid | Start ========== */
#count_up {
  width: 100%;
  margin: 0px;
  margin-top: 60px;
  height: 200px;
  background-color: black; }

/* ============ NavBar Components | Start ============= */
button {
  background-color: white;
  border: 1px solid #666666;
  height: 22px;
  cursor: pointer; }

/* ============ NavBar Components | End ============= */
/* ============= Image background Components | Start ============= */
/* ======= Buttons Expands on hover | Start ======= */
.button {
  height: 50px;
  width: 140px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #666666;
  z-index: -1;
  cursor: pointer; }
  .button .fa-angle-right {
    display: none; }

.button:hover {
  width: 147px; }
  .button:hover .fa-angle-right {
    display: inline-block; }

/* ======= Buttons Expands on hover | End ======= */
#start_button {
  background-color: #e1918a;
  border: 2px solid #e1918a;
  color: white;
  border-radius: 2px; }

#donate_button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 2px; }

#positioning {
  text-align: center;
  width: 60%;
  height: 40%;
  margin: 15% 20%;
  position: absolute;
  color: white;
  padding: 10px; }

/* ============= Image background Components | End ============= */
/* =========== READ MORE BUTTON | Start =========== */
.readmore_button {
  width: 120px;
  height: 40px;
  color: #666666;
  padding: 10px;
  border: #666666 1px solid;
  margin-top: 35px;
  cursor: pointer; }

/* =========== READ MORE BUTTON | End =========== */
* {
  box-sizing: border-box; }

html {
  width: 100%; }

#bg_image {
  width: 100%;
  background: url(../imgs/bgimage.jpg);
  height: 640px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: grey; }

body {
  font-family: 'Poppins', sans-serif; }

/*# sourceMappingURL=main.css.map */
