@import 'partials/variables',
        'partials/mixins',
        'partials/functions',
        'partials/base',
        'partials/layouts',
        'partials/components',
        'partials/responsiveness';

#bg_image {
    width: 100%;
    background: url(../imgs/bgimage.jpg);
    height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: $theme_grey;
} // bg image and color merged for visibility
#description {
    width: 100%;
    background: url(../imgs/bannerheader.png);
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: $theme_grey;
    h2, p {
        color: white;
    }
    .fas {
        &:hover {
            color: unset;
            cursor: unset;
        }
    }
}
body {
    font-family: 'Poppins', sans-serif;
}
@media (max-width: 580px){  
    h1 {
        font-size: 12px;
    }
    .description_p {
        font-size: 8px;
        
    }
    #bg_image {
        width: inherit;
        height: 280px;        
        margin-top: 100px;
    }
    #blank_nav {
        height: 3.5em;
    }
    #positioning {
        padding: 20% 10%;
        width: 100%;
        margin: 0%;
        .description_p {
            margin-top: 2px;
        }
    }
}
