@import'partials/base';
@import'partials/components';
@import'partials/functions';
@import'partials/layouts';
@import'partials/mixins';
@import'partials/variables';

#bg_image {
    width: 100%;
    background: url(../imgs/bgimage.jpg);
    height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // position: inherit;
    background-blend-mode: multiply;
    background-color: grey;
} // bg image and color merged for visibility
body {
    font-family: 'Poppins', sans-serif;
}
