/* ============ Nav Bar position | Start ============*/
@import'partials/variables';


ul {
    color: $theme_grey;
   
    li {
    float: left;
    list-style: none;
    padding-right: 20px;
    } 
}  
a {
    text-decoration: none;
    color: inherit;
}    
#home_navbar {
    width: 100%;
    height: 65px;
    background-color: $theme_silver; 
    text-align: center;
    margin-top: -15px; 
}
#home_nav_prop {
    text-align: center; 
    // width: 201px;
    // height: 5.5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    position: inherit;
    margin: 0px 35%;
    padding: 1px;
    // float: center;
    // display: flex;
}
/* ============ Nav Bar position | End ============*/



/*===========  Search bar positioning | Start  ============ */
#searchBar {
    border: 1px solid $theme_grey;
    height: 18px;
    background-color: $theme_white;
}

.fa-search {
    color: $theme_pink;
    padding: 1px 0px;
}
.search_position {
    margin-top: 5px;
    margin-right: 14%;
}
/*===========  Search bar positioning | End  ============ */

/* ============ Who we are grid | Start ========== */
#grid_sec {
    // border: red 2px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // text-align: center;
    margin: 20px 150px;
    padding: 20px;
} 
.grid_item{
    // border: red 2px solid;
    margin: 20px;
    // width: 100%;
}
#nested_grid {
    // border: blue 2px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    margin: 20px;
    // padding: 30px;

}
.nested_grid_item {
    // border: blue 2px solid;
    width: 240px;
    height: 200px;  
    // margin: 10px;
}

/* ============ Who we are grid | End ========== */



/* ========== What is learn't section | Start ========== */
#learn_to {
    background-color: black;     
    width: 100%;
}
#learn_to_align {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 330px;
    text-align: center;
    color: white;
    margin-left: 140px;
    margin-right: 140px;   
}
.learn_to_fas {
    font-size: 3em;
    color: $theme_pink;
    // padding-left: 30px;
    // padding-right: 30px;
}
/* Used grid instead of flex for better handling */
.flex_item {
    padding: 0px 50px;
    margin-top: 30px;
}
/* ========== What is learn't section | End ========== */

/* ========== Info section Course previews and Team members | Start ========== */
#info_sec{
    margin: 20px 150px;
    padding: 20px;
}

/* ========== Info section Course previews and Team members | End ========== */

/* ========== Courses Grid Section Also Nested| Start =========== */
#course_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    height: 420px;
    width: 100%;
    margin-top: 80px;
}

#course_nested {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
   
}
.course_nested_item {
    background-color: gray; // Temporarily
    height: 200px;
    width: 100%;
}
.course_grid_item2 {
    background-color: gray; //Temporarily
}
/* ========== Courses Grid Section Also Nested| End =========== */



/* ========== Meet the team Grid | Start ========== */
#team_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    height: 680px;
}


#team_nest1,
#team_nest2,
#team_nest3,
#team_nest4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px; // Change when done and delete comment
    width: 100%;
    height: 340px;
    // background-color: gray;
}
.team_nest1_item1,
.team_nest2_item1,
.team_nest3_item1,
.team_nest4_item1 {
    width: 100%;
    height: 340px;
    background-color: gray; //Temporarily
}

/* ========== Meet the team Grid | Start ========== */
// =======================================================


/* ============== Social font styling | Start ============== */
#social_icons {
    display: block;
}
/* ============== Social font styling | End ============== */


// =======================================================
/* ========== Meet the team Grid | Start ========== */