@media (max-width: 1440px){
    #logo {
        margin-left: 15%;
    }
    .search_position {
        margin-top: 22px;
        margin-right: -30%;
    }
    #home_nav_prop {
        margin: 0px 30%;
    }
}

//  Responsiveness for home page ==============> 

// Nav Bar
// Tablet and mobile view
@media (max-width: 780px){

}
@media (max-width: 480px){

}

