

//  Responsiveness for home page ==============> 

// Nav Bar
// Tablet and mobile view
@media (max-width: 1024px) {
    #grid_sec {
        margin: 20px 60px;
        #grid_sec {
            grid-template-columns: 1fr 1fr;
        }
    }
    #info_sec {
        margin: 20px 60px;
    }
    #courses_sec {
        margin: 20px 120px;
    } 
}
@media (max-width: 780px){
    #gridNav {
        grid-template-columns: 1fr;
        text-align: center;
        width: 100%;    
        
        #gridLogo {
        margin: 0;
        text-align: left;
        padding: 0;
        img {
            float: left;
            }
        }
        .grid_item {
            margin: 10px;
        }

        #gridSearchBar {
            text-align: center;
            margin: 0;
            form {
                width: 80%;
                margin: 0 !important;
                text-align: inherit;
            }
        }
    }
    #bg_image {
        height: 480px;
    }
    #grid_sec {
        grid-template-columns: 1fr;
        margin: 0;
    }
    #learn_to_align {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 20px;
        margin-right: 20px;
    }
    #info_sec {
        margin: 20px;
        padding-bottom: 20px;
        height: auto;
    }
    #nested_grid {
        grid-template-columns: 1fr;
    }
    #courses_pre {
        margin-top: 40px;
        padding-top: 40px;
    }

    #course_grid {
        grid-template-columns: 1fr;
        // padding-bottom: 20px;
    }
    #meet_team {
        margin: 0px;
        padding: 0px;
        height: auto;
    }
    #team_grid {
        grid-template-columns: 1fr;
        margin: 20px;
    }
    #subscribe_input {
        width: 35%;
    }
    #subscribe_button {
        width: 20%;
    }
    #count_up {
        margin-top: 20px;
    }
    #count_up_grid {
        grid-template-columns: repeat(2, 1fr);
    }
    #details_sec {
        margin: 20px;
    }
    #footer_flex { 
        margin: 10px 10px;;
    }
    .intro_grid_item2 {
        height: 300px;
        padding-top: 0;
    }
}
@media (max-width: 580px){
    
    h1 {
        font-size: 14px;
    }
    .description_p {
        font-size: 9px;
    }
    #bg_image {
        width: inherit;
        height: 240px;
    }
    #info_sec {
        margin: 0;
    }
    #meet_team {
        margin: 0;
        padding: 0;
    }
    #team_grid {
        margin: 0;
    }
    #team_nest1,
    #team_nest2,
    #team_nest3,
    #team_nest4 {
        grid-template-columns: 1fr;
        margin: 0;
    }
    #learn_to_align {
        grid-template-columns: 1fr;
    }
    #count_up_grid {
        grid-template-columns: 1fr;
        margin: unset;
        padding: unset;
    }
    .button {
        height: 25px;
        width: 50px;
        font-size: 4px;
    }
    #details_sec {
        margin: 0;
    }
    .details_item2 {
        flex-direction: column;
    }
    #details_flexbox {
     grid-template-columns:  100%;
    }
    #footer_flex {
        flex-direction: column;
    }
    .intro_grid_item2 {
        height: 240px;
    }
}   

// <============= Responsiveness for home page & others with reliavent ============== 


// ABOUT PAGE ==================>>>>
@media (max-width: 780px){
    #statistics_grid {
        grid-template-columns: 1fr 1fr;
    }
    #who_we_are_grid { 
        margin: 0;
        padding: 0;
        grid-template-columns: 1fr;
        img {
            width: 100%;
            height: 320px;
        }
    }
    #meet_team2 {
        margin: 0;
        padding: 10px;
    }
}


@media (max-width: 580px) {
    #intro_grid {
        grid-template-columns: 1fr;
        margin: 0;
        grid-gap: 0;
        padding: 0;
    }
    #who_we_are_grid{
        img {
            width: 100%;
            height: 240px;
        }
    }
    .intro_grid_item2 {
        width: 100%;
    }
    #statistics_grid {
        grid-template-columns: 1fr;
        margin: 0;
        padding: 10px;
    }
    #map {
        margin: 0;
    }
    #courses_sec {
        margin: 10px;
        #courses_grid {
            grid-template-columns: 1fr;
        }
    }
}

// =========== CONTACT PAGE ========>

@media (max-width: 780px) {
    #contact_grid {
        grid-template-columns: 1fr;
    }
    #contact_form {
        margin: 0;
        padding: 10px;
    }
}

// Portfolio page ============> 

@media (max-width: 790px){
    .port_gal_grid1,
    .port_gal_grid2,
    .port_gal_grid3{
        height: 154px;
    }
}

@media (max-width: 360px){
    .port_gal_grid1,
    .port_gal_grid2,
    .port_gal_grid3{
        height: 80px;
    }
}

// Course responsiveness
@media(max-width: 780px) {
    #course_sec_grid {
        grid-template-columns: 1fr 1fr;
    }
    #gridNav > nav { 
        ul {
            width: 100%;
        }
    }
    // #gridSearchBar { 
    //     form {
    //     width: 80%;
    //     }
    // }
}
@media(max-width: 480px) {
    #course_sec_grid {
        grid-template-columns: 1fr;
    }

    #gridSearchBar {
        display: none;
    }
    #gridNav > nav {
        text-align: center;
        margin-top: 10px;
        ul {
            width: 90%;
            margin: 0;
            padding-left: unset;   
            text-align: center;
            li {
                text-align: center;
            }
        }
        
    }
}
@media(max-width: 390px){
    body {
        p, li {
            font-size: 12px;
        }
    }
}


