/* ========= In nav bar | Start========= */ 
$theme_silver : #f9f9f9;
/* ========= In nav bar | End ========= */ 

/* ====== WEBSITE THEME COLORs | Start ====== */
$theme_pink : #ee534f;
$theme_white : #f7f7f7;
$theme_grey: #666666;

/* ====== WEBSITE THEME COLORs  | End */

.pink_color {
    color: #ee534f;
}
