/* ========= In nav bar | Start========= */ 
$theme_silver : #f9f9f9;
/* ========= In nav bar | End ========= */ 

/* ====== WEBSITE THEME COLORs | Start ====== */
$theme_pink : #ee534f;
$theme_white : #f7f7f7;
$theme_grey: #666666;

/* ====== WEBSITE THEME COLORs  | End */

/* ====== INDIVISUAL STYLING | Start ======= */

.pink_color {
    color: $theme_pink;
}
h1 {
    font-size: 45px;
}
.description_p {
    font-size: 18px;
    margin-top: -26px;
    color: white;
}
/* ====== INDIVISUAL STYLING | End ======= */
img {
    width: 100%;
    height: 100%;
}
p {
    color: $theme_grey;
}